" author: Charlott2
" version: 2024/06/19

" -- leader --
let mapleader = ' '

" -- plugins --
" >> setup
"    高亮复制
set highlightedyank
"    快速操作引号等“包围”
"    cs：更改包围，如：cs'" 将包围光标所在位置的 ' 改为 "
"    ds：删除包围，如：ds' 将包围的 ' 删除
"    ys：添加包围，如：ysiw[ 将一个单词用 [] 包围（有空格间隔）
"    yss：为整行添加包围，如：yss] 将整行用 [] 包围
"    VS：为选中的块添加包围，如：V3jS' 将所在行与往下3行用 ' 包围
"    左括号 ([{：与所选文本对象之间有空格
"    右括号 )]}：与所选文本对象之间无空格
"    包围除了普通的引号、括号，还支持 HTML 标签，如：cs'<a> 将包围的 ' 改为 <a><a/>
set surround
"    aa/ia 方法参数
set argtextobj
"    ae/ie 整个文件
set textobj-entire
"    自动切换输入法
set keep-english-in-normal-and-restore-in-insert

" -- basic --
" >> setup
"    搜索时忽略大小写
set ignorecase
"    智能大小写
set smartcase
"    显示行号，相对行号
set number relativenumber
"    ...
set scrolloff=7
" >> keymaps
"    >> change
"    home & end
nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
"    j & k
nnoremap k gk
nnoremap gk k
nnoremap j gj
nnoremap gj j
"    ESC
inoremap qq <ESC>
"    = & +
nnoremap = +
nnoremap + =
"    reselect visual block after indent/out-dent.
vnoremap < <gv
vnoremap > >gv
"    copy and paste
noremap 'y "*y
noremap 'p "*p
"    redo
noremap U <C-R>
"    >> nop
"    宏很少用
noremap q <nop>
"    使用 IDEA 的标签功能 F11
noremap m <nop>
noremap ' <nop>
"    >> nop - still preview
"    使用 IDEA 的标签功能 F11
noremap ` <nop>
"    宏很少用
noremap @ <nop>
"    不好按
noremap K <nop>
noremap + <nop>
noremap \ <nop>
noremap . <nop>
"    没用
noremap <C-B> <nop>
noremap <C-E> <nop>
noremap <C-G> <nop>
noremap <C-J> <nop>
noremap <C-K> <nop>
noremap <C-L> <nop>
noremap <C-M> <nop>
noremap <C-N> <nop>
noremap <C-P> <nop>
noremap <C-Q> <nop>
noremap <C-T> <nop>
noremap <C-U> <nop>
noremap <C-W> <nop>
noremap <C-\> <nop>


" -- intellij specific --
" description of idea specific key maps:
"     <leader>      用于项目弹窗/窗口操作
"     m[anage]      用于项目管理操作（构建/运行/调试及其子操作）
"     '             用于代码的普通操作
"     q[uery]       用于代码信息展示/查询
"     K             用于代码导航
" >> setup
"    J 启用 idea 连接支持
set ideajoin
"    进入重构保持模式不变
set idearefactormode=keep
" >> keymaps
"    >> [project] window actions
"    下一个/上一个标签页
nmap <leader>e :action NextTab<CR>
nmap <leader>w :action PreviousTab<CR>
"    项目结构 Structure
nmap <leader>s :action ShowProjectStructureSettings<CR>
"    选择运行/调试配置 Run/Debug
nmap <leader>r :action ChooseRunConfiguration<CR>
nmap <leader>d :action ChooseDebugConfiguration<CR>
"    在项目中查找/替换 Find/Huan
nmap <leader>f :action FindInPath<CR>
nmap <leader>t :action ReplaceInPath<CR>
"    最近的项目/文件
nmap <leader>j :action ManageRecentProjects<CR>
nmap <leader>i :action RecentFiles<CR>
"    重构菜单
nmap <leader>g :action Refactorings.QuickListPopupAction<CR>
"    >> [project] management actions
"    调试/运行/恢复/停止
nmap mr :action Run<CR>
nmap md :action Debug<CR>
nmap me :action Resume<CR>
nmap ms :action Stop<CR>
"    运行到光标所在行
nmap mt :action RunToCursor<CR>
"    切换/查看/忽略断点
nmap mb :action ToggleLineBreakpoint<CR>
nmap mv :action ViewBreakpoints<CR>
nmap mm :action XDebugger.MuteBreakpoints<CR>
"    >> [code] basic actions
"    重命名/查找/替换
nmap 'r :action RenameElement<CR>
"    格式化
nmap '' :action ReformatCode<CR>
"    >> [code] navigation actions
"    跳转到父类方法
nmap Ks :action GotoSuperMethod<CR>
"    跳转到上次修改的地方
nmap Kl :action JumpToLastChange<CR>
"    跳转到实现
nmap Ki :action GotoImplementation<CR>
"    跳转到声明
nmap Kd :action GotoDeclaration<CR>
"    previous method
nmap K[ :action MethodUp<CR>
"    next method
nmap K] :action MethodDown<CR>
"    >> [code] query/quick summary/info actions
"    展示用法
nmap qu :action FindUsages<CR>
"    展示快速文档
nmap qd :action QuickJavaDoc<CR>
"    展示方法实现
nmap qi :action QuickImplementations<CR>
"    展示方法形参信息
nmap qp :action ParameterInfo<CR>
"    展示文件结构
nmap qs :action FileStructurePopup<CR>
"    展示表达式求值
vmap qe :action QuickEvaluateExpression<CR>

" -- vim specific --
nmap <leader>v :action IdeaVim.ReloadVimRc.reload<CR>
"    监听 IntellJ 的 Action 名称
nmap <leader>a :action VimFindActionIdAction<CR>
