" author: Charlott2
" version: 2024/06/15
" description of idea specific key maps:
"     <leader>      用于项目弹窗/窗口操作
"     .             用于项目构建/运行/调试
"     \             用于代码操作（除代码导航操作）
"     K             用于代码导航
"     s[how]        用于代码弹窗/窗口的文档/信息展示

" -- leader --
let mapleader = ' '

" -- plugins --
" >> settings
"    高亮复制
set highlightedyank
"    cs/ys/... 快速操作引号等“包围”
set surround
"    multi cursor
set multiple-cursors
"    高效编辑方法参数
set argtextobj
"    ae/ie 整个文件
set textobj-entire
"    自动切换输入法
set keep-english-in-normal-and-restore-in-insert
" >> key maps

" -- basic --
" >> settings
"    搜索时忽略大小写
set ignorecase
"    智能大小写
set smartcase
"    显示行号，相对行号
set number relativenumber
"    ...
set scrolloff=7
" >> key maps
"    nop
noremap . <nop>
noremap s <nop>
noremap K <nop>
"    home & end
nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
"    j & k
nnoremap k gk
nnoremap gk k
nnoremap j gj
nnoremap gj j
"    ESC
inoremap kj <ESC>
"    ` & '
"    when use m to mark a place, by default,
"    ' jumps to the marked line,
"    ` jumps to the marked line and column, so swap them.
nnoremap ' `
nnoremap ` '
"    = & +
nnoremap = +
nnoremap + =
"    reselect visual block after indent/out-dent.
vnoremap < <gv
vnoremap > >gv
"    copy and paste
noremap \y "*y
noremap \p "*p

" -- idea specific --
" >> settings
"    J 启用 idea 连接支持
set ideajoin
"    进入重构保持模式不变
set idearefactormode=keep
" >> key maps
"    >> [project] popup/window actions
"    下一个/上一个 tab
nmap <leader>e :action NextTab<CR>
nmap <leader>w :action PreviousTab<CR>
"    最近的项目/文件/位置
nmap <leader>p :action ManageRecentProjects<CR>
nmap <leader>o :action RecentFiles<CR>
"    项目结构
nmap <leader>s :action ShowProjectStructureSettings<CR>
"    在项目中查找/替换
nmap <leader>f :action FindInPath<CR>
nmap <leader>t :action ReplaceInPath<CR>
"   编辑/选择运行/调试配置
nmap <leader>r :action ChooseRunConfiguration<CR>
nmap <leader>d :action ChooseDebugConfiguration<CR>
"   重构菜单
nmap <leader>c :action Refactorings.QuickListPopupAction<CR>
"    >> [project] build/run/debug actions
"    调试/运行/恢复/停止
nmap .d :action Debug<CR>
nmap .r :action Run<CR>
nmap .c :action Resume<CR>
nmap .x :action Stop<CR>
"    运行到光标所在行
nmap .t :action RunToCursor<CR>
"    表达式求值
vmap .e :action EvaluateExpression<CR>
"    >> [code] basic actions
"    切换/查看/忽略断点
nmap \b :action ToggleLineBreakpoint<CR>
nmap \n :action ViewBreakpoints<CR>
nmap \m :action XDebugger.MuteBreakpoints<CR>
"    重命名/查找/替换
nmap \r :action RenameElement<CR>
nmap \f :action Find<CR>
nmap \t :action Replace<CR>
"    保存所有
nmap \s :action SaveAll<CR>
"    格式化
nmap \\ :action ReformatCode<CR>
"    >> [code] navigation
"    跳转到父类方法
nmap Ks :action GotoSuperMethod<CR>
"    跳转到上次修改的地方
nmap Kl :action JumpToLastChange<CR>
"    跳转到实现
nmap Ki :action GotoImplementation<CR>
"    跳转到声明
nmap Kd :action GotoDeclaration<CR>
"    previous method
nmap K[ :action MethodUp<CR>
"    next method
nmap K] :action MethodDown<CR>
"    >> [code] show quick summary/info
"    展示用法
nmap su :action FindUsages<CR>
"    展示快速文档
nmap sd :action QuickJavaDoc<CR>
"    展示方法实现
nmap si :action QuickImplementations<CR>
"    展示方法形参信息
nmap sp :action ParameterInfo<CR>
"    展示文件结构
nmap ss :action FileStructurePopup<CR>
"    展示表达式求值
vmap se :action QuickEvaluateExpression<CR>

" -- vimrc specific --
nmap <leader><leader>v :e ~\.ideavimrc<CR>
nmap <leader><leader>s :action IdeaVim.ReloadVimRc.reload<CR>
nmap <leader><leader>a :action VimFindActionIdAction<CR>
