noremap s <nop>

" leader
"" in use:
"" a b c d 'e' f 'g' h i j k l 'm' 'n' 'o' p 'q' r s t u v 'w' 'x' y 'z'
nnoremap <space> <nop>
let mapleader = " "

" show
set showmode

" movement
set scrolloff=7

" search
set hlsearch
set incsearch
set smartcase
set ignorecase

" plugins
set easymotion
set surround
set argtextobj
set exchange
set highlightedyank
set textobj-entire
set NERDTree

" plugin settings
set keep-english-in-normal-and-restore-in-insert
"" easymotion
map <leader>f <Plug>(easymotion-s)
"" nerdtree
map <leader>t :NERDTreeToggle<CR>
nnoremap <leader>d :NERDTreeFocus<CR>

" basic key mapping
noremap ; :
"" $ & ^
nnoremap L $
vnoremap H ^
vnoremap L $
nnoremap H ^
"" j & k
nnoremap k gk
nnoremap gk k
nnoremap j gj
nnoremap gj j
"" esc
inoremap kj <esc>
"" swap implementations of ` and ' jump to markers
"" by default, ' jumps to the marked line,
"" ` jumps to the marked line and column, so swap them
nnoremap ' `
nnoremap ` '
"" reselect visual block after indent/outdent.
vnoremap < <gv
vnoremap > >g
"" tag
nnoremap ge gT
nnoremap gr gt
"" copy and paste
noremap <Leader>y "*y
noremap <Leader>p "*p
vnoremap Y "+y
"" others
" cnoremap <C-j> <t_kd>
" cnoremap <C-k> <t_ku>
cnoremap <C-a> <Home>
cnoremap <C-e> <End>

" edit vimrc
nnoremap <leader>ve :e C:/Users/Waoap/.ideavimrc<CR>
nnoremap <leader>vw :w!<CR>
nnoremap <leader>vs :so C:/Users/Waoap/.ideavimrc<CR>

" window operation
nnoremap <leader>j <C-W>j
nnoremap <leader>k <C-W>k
nnoremap <leader>h <C-W>h
nnoremap <leader>l <C-W>l

" idea specific settings
set ideajoin
set idearefactormode=keep

" intellij built in key map
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>b :action Bookmarks<CR>
nnoremap <leader>c :action GotoClass<CR>
nnoremap <leader>s :action SearchEverywhere<CR>
nnoremap <leader>se :action FindInPath<CR>
nnoremap <leader>r :action RecentFiles<CR>
nnoremap <leader>i :action SelectInProjectView<CR>

" navigation
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gl :action JumpToLastChange<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gf :action FileStructurePopup<CR>

" toggle track vim action Id
" nnoremap ta :action VimFindActionIdAction<CR>

" run, build and debug
"" use ','
nnoremap ,d :action Debug<CR>
nnoremap ,r :action Run<CR>
nnoremap ,c :action CompileDirty<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,v :action ViewBreakpoints<CR>
nnoremap ,s :action Stop<CR>

" code actions
"" use '\'
nnoremap \u :action FindUsages<CR>
nnoremap \r :action RenameElement<CR>
nnoremap \f :action ReformatCode<CR>
nnoremap \s :action SaveAll<CR>